html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

.message .author img {
    height: 75px;
}

.message .author {
    font-weight: bold;
}

.message .time {
    font-size: small;
    color: gray;
}

.input input {
    width: 100%;
    height: 1.5em;
}